.bullet {
	padding-left: 0px;
}
fieldset {
	border: 10px solid;
	border-color: #00685A;
	background-color: #FFBD73;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	margin-bottom: 25px;
}
input {
	margin-bottom: 1em;
	font-family:"Helvetica";
	font-weight: 200;
	font-size: 17px;
}
label.info {
	/*font-size: 17px;*/
	padding-top: 5px;
	float: left;
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	width: 150px;
}
#accounttit {
	font-size: 38px;
	text-align: center;
}
.head {
	font-size: 24px;
}